<div *ngIf="!isLoading; else loading">
    <app-header/>
<router-outlet/>
@defer (on viewport) {
    <app-pie-de-pagina></app-pie-de-pagina>
}@placeholder {
    <div class="spinner">
        <mat-spinner></mat-spinner> <!-- Esto es un spinner de Angular Material, puedes usar otro si no lo tienes -->
      </div>
}@loading {
    <mat-spinner></mat-spinner> 
}
<app-whatsapp-button></app-whatsapp-button>
</div>  

<ng-template #loading>
    <div class="loading-overlay">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-template>