<section id="about">
    <h2>¿QUIÉNES SOMOS?</h2>
    <div class="content">
      <p>
        Somos una empresa conformada por profesionales 100% chimbotanos.
        Nuestro amor por Chimbote nos compromete a impulsar el crecimiento urbano ordenado. Solo requiere de perseverancia y compromiso por hacer de Chimbote una de las mejores ciudades del Perú.
      </p>
      <img src="assets/team.jpg" alt="Nuestro equipo">
    </div>
  </section>
  
  <section id="mission-vision">
    <div class="mission">
        <img src="../../../../public/assets/MISION.png" alt="ojo-vision"/>
      <h3>MISIÓN</h3>
      <p>
        Somos una empresa conformada por profesionales 100% chimbotanos. Nuestro amor por Chimbote nos compromete a impulsar el crecimiento urbano ordenado. Solo requiere de perseverancia y compromiso por hacer de Chimbote una de las mejores ciudades del Perú.
      </p>
    </div>
    <div class="vision">
        <img src="../../../../public/assets/VISIÓN.png" alt="ojo-vision"/>
      <h3>VISIÓN</h3>
      <p>
        Nuestro amor por Chimbote nos compromete a impulsar el crecimiento urbano ordenado. Solo requiere de perseverancia y compromiso por hacer de Chimbote una de las mejores ciudades del Perú.
      </p>
    </div>
  </section>
  
  <section id="more">
    <h2>MÁS DE NOSOTROS</h2>
    <div class="gallery">
      <img src="../../../../public/assets/nuestra-familia.jpg" alt="Nuestro equipo 1">
      <img src="../../../../public/assets/nuestra-familia.jpg" alt="Nuestro equipo 2">
      <img src="../../../../public/assets/nuestra-familia.jpg" alt="Nuestro equipo 3">
    </div>