.phone-number {
    color: yellow;
  }

.imagen_incio_nosotros{
  width: 100%;
  height: 100vh;
}

  video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .hero h1 {
    color: white;
    font-size: 3em;
    margin: 0;
  }
  
 h2{
  font-size: 40px;
  color: #f0f0f0;
  font-weight: 900;
  position: relative;
  z-index: 1;
  margin: 0;
 }


 .content_titulo{
  display: flex;
  justify-content: space-around;
  transform: translateY(70px);
  background-color: #2457A1;
  padding: 15px 0;
  margin-bottom: 15px;
 }

  #about {
    background: #f0f0f0;
  }
  
  #about .content {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 20px;
  }
  

  #mission-vision{
    padding: 7rem 2rem;
  }
  .about_text {
    width: 30%;
    margin: 45px 20px 0 0;
    font-size: 1.8em;
     font-weight: 300;
  }
  
  .mission{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 40px;
  }

  .contet_info{
    background-color: #2457A1;
    border-radius: 45px;

  }
  
  .info {
    width: 550px;
    font-size: 1.3rem;
    padding: 25px 28px;
    font-weight: 300;
    color: #f0f0f0;

  }
  
  #more {
    background: #e0e0e0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
  }
  .content img{
    width: 30%;
    height: 450px;
    border-radius: 40px;
    position: relative;
    z-index: 10;
  }
  .mission img,.vision img{
    width: 450px;
    height: 380px;
    object-fit: cover;
    margin-right: 20px;

  }

  #vision{
    height: 250px;
    width: 320px;
    padding-left: 35px;
  }

  .gallery{
    grid-gap: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 25%;
    margin: 50px 20px;
    min-height: 550px;
    width: 80%;
  }
  

  
  .gallery img{
    object-position: 50%;
    object-fit: cover;
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .imagen_uno{
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }
  
  .side-galley{
    display: grid;
    gap: 10px;
  }

  .side-galley img{
    height: 200px;
  }

  h3{
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    background-color: #37BADB;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    margin-bottom: 0;
  }
 
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  body {
    background: #000;
    color: #000;
  }

  swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper {
    height: 80%;
    width: 100%;
  }

  .mySwiper2 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper2 swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width:1200px) {
    .about_text{
      font-size: 1.4rem;
    }
    .content img{
      object-fit: cover;
    }
    .info , .contet_info{
      width: fit-content;
      font-size: 1.1rem;
    }
    .mission img{
       width: 350px;
       height: 300px;
    }
  }

  @media screen and (max-width:900px) {
    .about_text{
      font-size: 1.1rem;
    }
    .content_titulo h2{
      font-size: 1.5rem;
    }
    .content img{
      object-fit: cover;
    }
    .info , .contet_info{
      width: fit-content;
      font-size: 1rem;
    }
    .mission img , #vision{
       height: 200px;
    }
}

@media screen and (max-width:650px) {
   .mission,.content{
      flex-direction: column;
   }
   #mission-vision{
    padding: 2rem 2rem;
   }
   .content img{
    width: 90%;
   }
   .about_text{
    width: 90%;
    margin: 65px 20px 0 35px;
   }
   .revers{
    flex-direction: column-reverse;
   }
   .content_titulo{
    margin-bottom: 35px;
   }
   h3{
    font-size: 1.8rem;
   }
}

p{

 text-align: justify;

  line-height: 30px;
}