<section id="about">
    <div class="imagen_incio_nosotros">
      <video  muted autoplay>
       <source src="../../../../public/assets/nosotros_pages.mp4" alt="tractores">
      </video>
    </div>
    <div class="content_titulo">
      <h2>¿QUIÉNES SOMOS?</h2>
      <div></div>
    </div>
    <div class="content">
      <p class="about_text">
        Somos una empresa conformada por profesionales 100% chimbotanos. <br> <br>
        Nuestro amor por Chimbote nos compromete a impulsar el crecimiento urbano ordenado. Solo requiere de perseverancia y compromiso por hacer de Chimbote una de las mejores ciudades del Perú.
      </p>
      <img src="../../../../public/assets/nuestra-familia.jpg" alt="Nuestro equipo">
    </div>
    <div id="mission-vision">
      <div class="mission">
          <img src="../../../../public/assets/MISION.png" alt="ojo-vision"/>
           <div class="contet_info">
            <p class="info">
              Somos una empresa conformada por profesionales 100% chimbotanos. <br> <br>  Nuestro amor por Chimbote nos compromete a impulsar el crecimiento urbano ordenado. Solo requiere de perseverancia y compromiso por hacer de Chimbote una de las mejores ciudades del Perú.
            </p>
           </div>
      </div>
      <div class="mission">
        <div class="contet_info">
          <p class="info">
            Somos una empresa conformada por profesionales 100% chimbotanos. <br> <br> Nuestro amor por Chimbote nos compromete a impulsar el crecimiento urbano ordenado. Solo requiere de perseverancia y compromiso por hacer de Chimbote una de las mejores ciudades del Perú.
          </p>
         </div>
          <img src="../../../../public/assets/VISIÓN.png" alt="ojo-vision" id="vision"/>
      </div>
    </div>
    <div id="more">
      <h3>MÁS DE NOSOTROS</h3>
      <div class="gallery">
        <div class="imagen_uno">
          <img src="../../../../public/assets/nuestra-familia.jpg" alt="Nuestro equipo 1">
        </div>
        <div class="side-galley">
          <img src="../../../../public/assets/nuestra-familia.jpg" alt="Nuestro equipo 2">
          <img src="../../../../public/assets/nuestra-familia.jpg" alt="Nuestro equipo 3">
          <img src="../../../../public/assets/nuestra-familia.jpg" alt="Nuestro equipo 3">
        </div>
      </div>
    </div>
  </section>
  
