<footer class="footer">
    <div class="footer-container">
      <div class="footer-section">
        <div class="conteiner">
          <div class="imgBx">
            <img src="../../../../public/assets/isologo-blanco .png" alt="ValCorp Logo" class="footer-logo" >
          </div>
            <p class="footer-title_logo">ValCorp</p>
        </div>
         <div class="content_nosotros">
          <p class="footer-title">Nosotros</p>
          <p class="mini description">Nos diferenciamos por brindar no una vivienda, <br> si no un entorno digno</p>
         </div>
         <div class="footer-socials">
          <a href="https://api.whatsapp.com/send/?phone=51916792621&text=Hola+Grupo+ValCorp%2C+Quisiera+informaci%C3%B3n+sobre+..." target="_blank" style="color:white">
              <div class="content-iconos">
                  <fa-icon [icon]="whatsapp" style="font-size: 28px; margin-left: 1px; margin-top:15px"></fa-icon>
              </div>
          </a>
          <a href="https://www.instagram.com/valcorpinmobiliariaoficial/?igsh=MW5wanZ4dHk2dHp1bA%3D%3D" target="_blank" style="color:white">
              <div class="content-iconos">
                  <fa-icon [icon]="instagram" style="font-size: 28px; margin-left: 1px; margin-top:15px"></fa-icon>
              </div>
          </a>
          <a href="https://www.facebook.com/inmobiliariavalcorp?mibextid=ZbWKwL" target="_blank" style="color:white">
              <div class="content-iconos">
                  <fa-icon [icon]="facebook" style="font-size: 28px; margin-left: 1px; margin-top:15px"></fa-icon>
              </div>
          </a>
          <a href="https://www.youtube.com/@ValcorpInmobiliaria" target="_blank" style="color:white">
              <div class="content-iconos">
                  <fa-icon [icon]="youtube" style="font-size: 28px; margin-left: 1px; margin-top:15px"></fa-icon>
              </div>
          </a>
      </div>
      
      </div>
      <div class="footer-section">
        <p class="footer-heading">Horario de atención</p>
        <p class="mediun"><strong>Proyectos:</strong><br> Lunes a Domingo de 9am a 6pm <br> +51 961 792 621</p>
        <p class="mediun"><strong>Atención al Cliente:</strong><br>Lunes a viernes de 9am a 6pm y sábados de 9am a 1pm <br> 01 641-6102 <br> atencionalcliente&#64;valcorp.pe</p>
        <p class="mediun"><strong>Oficina central:</strong><br>Lunes a viernes de 8:30 am a <br> 5:30pm</p>
      </div>
      <div class="footer-section">
        <p class="footer-heading">Enlaces de interés</p>
        <ul>
          <li><a href="/proyectos" class="mediun">Proyectos</a></li>
          <li><a href="/nosotros" class="mediun">Nosotros</a></li>
          <li><a href="/nuestro-proposito" class="mediun">Preguntas Frecuentes</a></li>
          <li><a href="/legales-comerciales" class="mediun">Política de Privacidad</a></li>
          <li><a href="/libro-reclamaciones" class="mediun">Libro de Reclamos</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <p class="footer-heading">Contáctanos</p>
        <p><fa-icon [icon]="email" style="font-size: 18px; padding-right: 5px;"></fa-icon> recepcionvalcorp.pe</p>
        <p><fa-icon [icon]="ubicacion" style="font-size: 18px; padding-right: 5px;"></fa-icon>  Jr. Manuel Ruiz #259 - Chimbote</p>
        <p><fa-icon [icon]="phone" style="font-size: 18px; padding-right: 5px;"></fa-icon> (01) 6599524</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Todos los derechos reservados 2024</p>
    </div>
  </footer>
  