<section class="container_nuestras_familias">
     <h3>Nuestras Familias</h3>
     <swiper-container init="false" style="width: 80%;" coverflow-effect-stretch="120" coverflow-effect-rotate="10" >
           <swiper-slide><div class="slide-custom"><img src="../../../public/assets/nuestra-familia.jpg"/></div></swiper-slide>
           <swiper-slide><div class="slide-custom"><img src="../../../public/assets/nuestra-familia.jpg"/></div></swiper-slide>
           <swiper-slide><div class="slide-custom"><img src="../../../public/assets/nuestra-familia.jpg"/></div></swiper-slide>
           <swiper-slide><div class="slide-custom"><img src="../../../public/assets/nuestra-familia.jpg"/></div></swiper-slide>
           <swiper-slide><div class="slide-custom"><img src="../../../public/assets/nuestra-familia.jpg"/></div></swiper-slide>
     </swiper-container>
</section>