
<h2 class="titulo_proyectos">Nuestras Familias</h2>
<swiper-container
    class="mySwiper"
    pagination="true"
    effect="coverflow"
    grab-cursor="true"
    centered-slides="true"
    slides-per-view="auto"
    coverflow-effect-rotate="20"
    coverflow-effect-stretch="0"
    coverflow-effect-depth="100"
    coverflow-effect-modifier="1"
    coverflow-effect-slide-shadows="true"
>
    <swiper-slide loading="lazy">

        <a href="https://www.youtube.com/watch?v=tF1-vPtBhf0" target="_blank" rel="noopener noreferrer">
            <div class="slide-custom">
                <img src="../../../public/assets/Video1.webp" loading="lazy" alt="video1"/>
            </div>
        </a>
    </swiper-slide>
    <swiper-slide loading="lazy">
        <a href="https://www.youtube.com/watch?v=XBZAeEoaPgY" target="_blank" rel="noopener noreferrer">
            <div class="slide-custom">
                <img src="../../../public/assets/Video2.webp" loading="lazy" alt="video2"/>
            </div>
        </a>
    </swiper-slide>
    <swiper-slide loading="lazy">
        <a href="https://www.youtube.com/shorts/K-QKHv2gQXk" target="_blank" rel="noopener noreferrer">
            <div class="slide-custom">
                <img src="../../../public/assets/Video3.webp" loading="lazy" alt="video3"/>
            </div>
        </a>
    </swiper-slide>
    <swiper-slide loading="lazy">
        <a href="https://www.youtube.com/watch?v=XBZAeEoaPgY" target="_blank" rel="noopener noreferrer">
            <div class="slide-custom">
                <img src="../../../public/assets/Video4.webp" loading="lazy" alt="video4"/>
            </div>
        </a>
    </swiper-slide>
    <swiper-slide loading="lazy">
        <a href="https://www.youtube.com/shorts/C4hyJ0tG_rQ" target="_blank" rel="noopener noreferrer">
            <div class="slide-custom">
                <img src="../../../public/assets/Video5.webp"loading="lazy" alt="video5"/>
            </div>
        </a>
    </swiper-slide>
    <swiper-slide loading="lazy">
        <a href="https://www.youtube.com/shorts/B_BcWfofRn8" target="_blank" rel="noopener noreferrer">
            <div class="slide-custom">
                <img src="../../../public/assets/Video6.webp"loading="lazy" alt="video6"/>
            </div>
        </a>
    </swiper-slide>
</swiper-container>
