
<div class="skeleton-wrapper" *ngIf="!bannerLoaded">
    <div class="skeleton-header"></div>
    <div class="skeleton-content">
      <div class="skeleton-img"></div>
      <div class="skeleton-item"></div>
    </div>  
  </div>
<section [hidden]="!bannerLoaded" [ngStyle]="{'background': 'linear-gradient(to bottom right, ' + color + ', ' + color + ')'}" >
    <div class="content_titulo">
        <h3 [ngStyle]="{'font-family': tipo_grafia}">Información del Proyecto</h3>
    </div>
@defer (on viewport) {
  <app-info-iconos [tituloInput]='titulo'></app-info-iconos>
}@placeholder {
  <div class="spinner">
      <mat-spinner></mat-spinner> 
  </div>
}@loading {
  <div class="spinner">
      <mat-spinner></mat-spinner> 
  </div>
}
</section>
