<section>
    <h3>Informacion del Proyecto</h3>
    <div class="content_info_proyecto">
         <div class="content_img_info_proyecto">
                <img src='../../../../public/assets/V4 copia.png' alt=""/>
         </div>
         <div class="content_info_proyecto_detalles">
            <div class="content_info_proyecto_mas_detalles">
                <img src="../../../../public/assets/AGUA-POTABLE.png"/>
            </div>
            <div class="content_info_proyecto_mas_detalles">
                <img src="../../../../public/assets/ENERGÍA-ELÉCTRICA.png"/>
            </div>
            <div class="content_info_proyecto_mas_detalles">
                <img src="../../../../public/assets/DESAGÜE.png"/>
            </div>
            <div class="content_info_proyecto_mas_detalles">
                <img src="../../../../public/assets/CERCO-PERIMÉTRICO.png"/>
            </div>
            <div class="content_info_proyecto_mas_detalles">
                <img src="../../../../public/assets/PISTAS-Y-VEREDAS.png"/>
            </div>
            <div class="content_info_proyecto_mas_detalles">
                <img src="../../../../public/assets/PÓRTICO-DE-INGRESO.png"/>
            </div>
            <div class="content_info_proyecto_mas_detalles">
                <img src="../../../../public/assets/CANCHA-DE-FÚTBOL.png"/>
            </div>
            <div class="content_info_proyecto_mas_detalles">
                <img src="../../../../public/assets/PARQUES-BIOSALUDABLES.png"/>
            </div>
            <div class="content_info_proyecto_mas_detalles">
                <img src="../../../../public/assets/ZONA-DE-PARRILLAS.png"/>
            </div>
         </div>
    </div>
</section>