section{
    padding-top: 35px;
    position: relative;
    overflow: hidden;
}

section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-radial-gradient(circle at 0 0, transparent, transparent 10px, rgba(255, 255, 255, 0.1) 10px, rgba(255, 255, 255, 0.1) 20px);
    opacity: 0.2; /* Ajusta la opacidad de las líneas curvas */
}

h3{
    color: #fff;
    font-size: 50px;
    display: block;
    background-color: #245CB5;
   padding: 10px 0;
   text-align: end;
   padding-right: 30px;
   margin: 0;
}

.content_img_info_proyecto{
    height: 550px;
}
.content_info_proyecto_mas_detalles{
    width: 140px;
    height: 140px;
    cursor: pointer;
}
.content_img_info_proyecto img{
    transform: translateY(-110px);
    height: 120%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.content_info_proyecto{
    display: flex;
    justify-content: center;
    gap: 25px;
}


 .content_info_proyecto_detalles {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    justify-content: center;
}