section {
    padding-top: 35px;
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  
  section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-radial-gradient(circle at 0 0, transparent, transparent 10px, rgba(255, 255, 255, 0.1) 10px, rgba(255, 255, 255, 0.1) 20px);
    opacity: 0.2; /* Ajusta la opacidad de las líneas curvas */
  }
  
  .content_titulo {
    background-color: #245CB5;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: end;
  }
  
  h3 {
    width: 53%;
    color: #fff;
    font-size: 65px;
    padding: 10px 0;
    text-align: start;
    margin: 0;
  }
  
  .content_img_info_proyecto {
    height: 550px;
  }
  
  .content_info_proyecto_mas_detalles {
    width: 220px;
    height: 180px;
    cursor: pointer;
    object-fit: cover;
    position: relative; /* Importante para el posicionamiento del modal */
  }
  
  .content_img_info_proyecto img {
    transform: translateY(10px) scale(1.8);
    height: 120%;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    object-position: center;
  }
  
  .content_info_proyecto {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    height: 100%;
  }
  
  .content_info_proyecto_detalles {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 100px;
    place-items: center;
    justify-content: center;
    transform: translateY(-45px);
  }
  
  .grande {
    grid-column: span 3;
    display: flex;
  }
  
  .grande .content_info_proyecto_mas_detalles {
    flex: 1;
    text-align: center;
  }
/* Estilo general del modal */
.modal_detalles {
  position: absolute; /* Mantiene la posición absoluta para superponer el modal */
  top: 0%; /* Centra verticalmente */
  left: 0%; /* Centra horizontalmente */
  transform: translate( -10%, -10%); /* Ajusta para un perfecto centrado */
  width: 500px; /* Ajusta el tamaño del modal */
  height: 500px; /* Ajusta el tamaño del modal */
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para destacar */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100; /* Asegura que el modal esté sobre los iconos */
  transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease; /* Suave transición */
  border-radius: 10px; /* Bordes redondeados para un estilo moderno */
}

.modal_detalles img {
  max-width: 100%; /* La imagen ocupará el ancho del modal */
  max-height: 100%; /* La imagen ocupará la altura del modal */
  object-fit: cover; /* La imagen cubrirá el espacio disponible manteniendo su proporción */
  border-radius: 8px; /* Bordes redondeados dentro del modal */
}