
<div class="skeleton-wrapper" *ngIf="!bannerLoaded">
    <div class="skeleton-header"></div>
    <div class="skeleton-content">
      <div class="skeleton-img"></div>
      <div class="skeleton-item"></div>
    </div>  
  </div>
<section [hidden]="!bannerLoaded" [ngStyle]="{'background': 'linear-gradient(to bottom right, ' + color + ', ' + color + ')'}" >
    <div class="content_titulo">
        <h3>Informacion del Proyecto</h3>
    </div>
   <app-info-iconos [tituloInput]='titulo'></app-info-iconos>
</section>
