.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Fondo claro */
  position: relative;
}

.spinner-logo {
  width: 100px; /* Tamaño del logo */
  height: 100px;
  z-index: 10; /* El logo siempre sobre la línea */
  animation: pulse 1.5s linear infinite; /* Animación de rotación */
}

.spinner-overlay {
  position: absolute;
  width: 150px; /* Tamaño del círculo giratorio */
  height: 150px;
  border: 5px solid transparent; /* Borde transparente */
  border-top: 5px solid #1e3a8a; /* Azul oscuro para la línea */
  border-radius: 50%; /* Forma de círculo */
  animation: spin 1.5s linear infinite; /* Animación de rotación */
  z-index: 5; /* Detrás del logo */
}
@keyframes pulse {
    0% {
      transform: scale(1); /* Tamaño normal */
    }
    50% {
      transform: scale(1.1); /* Crece un 10% */
    }
    100% {
      transform: scale(1); /* Vuelve al tamaño original */
    }
  }
/* Animación de rotación */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
