@for(proyecto of proyectoList; track proyecto){
    @if(proyecto.titulo == proyectoId){
        <app-banner [imgUrlBanner]="proyecto.bgUrlImg" [logoUrlProyecto]="proyecto.logoUrl" [colorParrafoInicio]="proyecto.color" [vidUrl]="proyecto.vidUrl"></app-banner>
        <app-info-proyecto [imgModelo]="" [color]="proyecto.color"></app-info-proyecto>
        <app-facilidades-pago [imgPromo]="proyecto.promo" [imgPrecio]="proyecto.precio" [color]="proyecto.color"></app-facilidades-pago>
        <app-ubicacion [color]="proyecto.color"  [proyectoMap]="proyecto.titulo"></app-ubicacion>
        <app-contacto [color]="proyecto.color"></app-contacto>
    }   
}