<div *ngIf="!spinner" class="spinner">
    <mat-spinner></mat-spinner> 
</div><!-- Esto es un spinner de Angular Material, puedes usar otro si no lo tienes -->
@for(proyecto of proyectoList; track proyecto){
    @if(proyecto.titulo == proyectoId){
         @defer (on viewport) {
        <app-banner  [imgUrlBanner]="proyecto.bgUrlImg" [logoUrlProyecto]="proyecto.logoUrl" [colorParrafoInicio]="proyecto.color" [vidUrl]="proyecto.vidUrl" (load)="recibir($event)"></app-banner>
        <app-info-proyecto [imgModelo]="" [color]="proyecto.color" [titulo]="proyecto.titulo" ></app-info-proyecto>
        <app-facilidades-pago [imgPromo]="proyecto.promo" [imgPrecio]="proyecto.precio" [color]="proyecto.color"></app-facilidades-pago>
        <app-ubicacion [color]="proyecto.color"  [proyectoMap]="proyecto.titulo"></app-ubicacion>
        <app-contacto [color]="proyecto.color"></app-contacto>
         }@placeholder {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }@loading {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }
    }   
}