<div *ngIf="!spinner" class="spinner">
    <mat-spinner></mat-spinner> 
</div><!-- Esto es un spinner de Angular Material, puedes usar otro si no lo tienes -->
@for(proyecto of proyectoList; track proyecto){
    @if(proyecto.titulo == proyectoId && proyecto.estado === true){
         @defer (on viewport) {
        <app-banner  [imgUrlBanner]="proyecto.bgUrlImg" 
        [logoUrlProyecto]="proyecto.logoUrl" 
        [colorParrafoInicio]="proyecto.color" 
        [vidUrl]="proyecto.vidUrl" (load)="recibir($event)" [pdfUrl]="proyecto.pdfUrl" ></app-banner>
         }@placeholder {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }@loading {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }
         @defer (on viewport) {
            <app-info-proyecto [imgModelo]="" [color]="proyecto.color" [titulo]="proyecto.titulo" ></app-info-proyecto>
         }@placeholder {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }@loading {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }
         @defer (on viewport) {
            <app-facilidades-pago [imgPromo]="proyecto.promo" [imgPrecio]="proyecto.precio" [color]="proyecto.color"></app-facilidades-pago>
         }@placeholder {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }@loading {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }
         @defer (on viewport) {
            <app-ubicacion [color]="proyecto.color"  [proyectoMap]="proyecto.titulo" [imgModelo]="proyecto.urlModelo"></app-ubicacion>
         }@placeholder {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }@loading {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }
         @defer (on viewport) {
            <app-contacto [color]="proyecto.color" [imgModelo]="proyecto.urlModeloContacto" ></app-contacto>
         }@placeholder {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }@loading {
            <div class="spinner">
                <mat-spinner></mat-spinner> 
            </div>
         }
    
    }
}
<app-prados-proximamente (sendLoad)="recibirLoad($event)" *ngIf="proyectoId === 'Prados'" ></app-prados-proximamente>

