    
 <div *ngIf="!bannerLoaded" class="spinner">
        <mat-spinner></mat-spinner> <!-- Esto es un spinner de Angular Material, puedes usar otro si no lo tienes -->
      </div>
<section >
    <video autoplay muted >
        <source [src]="vidUrl" type="video/mp4" >
        Tu navegador no soporta la etiqueta de video.
      </video>
    <div class="content_banner">
         <div class="imgBx">
            <img src={{logoUrlProyecto}} alt="logo del proyecto"   
         (load)="onBannerLoad()"
            [hidden]="!bannerLoaded">
         </div>
         <button [ngStyle]="{'background-color': colorParrafoInicio,'font-family': tipo_grafia}" class="relative" ><a  target="_blank" [href]="pdfUrl" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;"  [download]="pdfUrl"></a>VER PORTAFOLIO</button>
    </div>
</section>