.faq-background {
    background: linear-gradient(to bottom, #002699, #00ccff);
    position: relative;
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .faq-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 10px,
      transparent 10px,
      transparent 20px
    );
    opacity: 0.2;
    z-index: 1;
  }
  .faq-container {
    position: relative;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 800px;
  }
  
  h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
  }
  
  .faq-item {
    margin-bottom: 10px;
  }
  
  .faq-question {
    background: #0a84ff;
    color: #fff;
    padding: 15px 20px;
    border-radius: 35px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
  }
  
  span{
    font-size: 1.4rem;
    font-weight: 700;
  }

  .faq-question i {
    transition: transform 0.3s;
  }

  .icon{
    font-size: 25px;
  }
  
  .faq-answer {
    background: #e0f7fa;
    border-radius:  20px;
    margin-top: 5px;
   padding: 5px 25px;
   position: relative;
   top: -10px;
   z-index: 1;
   
  }

   p{
    font-size: 1rem;
   font-weight: 400;

   }
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  .title-text {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    line-height: 1.2;
  }
  .title-highlight {
    font-size: 48px;
    font-weight: bold;
    color: #ffffff;
    background-color: #29b6f6; /* Color de fondo para resaltar */
    padding: 0 10px;
    line-height: 1.2;
  }