  <section>
    <div class="faq-background">
      <div class="title-container">
        <span class="title-text">Preguntas</span>
        <span class="title-highlight">Frecuentes</span>
      </div>
        <div class="faq-container">
          @for ( faq of faqs; track faq.question) {
            <div class="faq-item">
              <div class="faq-question" (click)="toggleFAQ(faq)">
                <span>{{ faq.question }}</span>
                <fa-icon [icon]="faq.open ? up : down" class="icon"></fa-icon>
              </div>
              @if (faq.open) {
                <div class="faq-answer">
                  <p class="text-justify py-4 text-[#2156ad]">{{ faq.answer }}</p>
                </div>
              }
            </div>
          }
        </div>
      </div>
      
  </section>