<div class="container">
  <mat-spinner color="primary" diameter="100" class="spinner" *ngIf="loading"></mat-spinner>
  
  @if (mostrarNotificacion) {
    <app-notificacion (ocultarNoti)="close($event)" [tipo]="mostrarNotiError"></app-notificacion>
  }

  <div class="content_titulo">
    <h2 class="titulo_proyectos">Libro de Reclamaciones</h2>
  </div>

  <div class="content">
    <p class="about_text">
      Conforme a lo establecido en el Código de Protección y Defensa del Consumidor, aprobado mediante la Ley N.º 29571, y su Reglamento, aprobado mediante el Decreto Supremo N.º 011-2011-PCM y sus modificatorias, este establecimiento cuenta con un libro de reclamaciones de naturaleza virtual a su disposición, a fin de que pueda formular su queja o reclamo.<br> <br>
      *Los campos indicados con asterisco son obligatorios.
    </p>
  </div>
  
  <h3 class="py-3">Categoría del reclamo</h3>
  <div class="py-3 pt-5 border border-gray-300 px-4 rounded-xl">
    <div class="bg-yellow-100 py-2 px-4 pt-3 rounded-xl border border-yellow-500 mb-2">
      <div class="flex gap-2 py-1">
        <span class="text-yellow-600 font-[600] text-[17px]">Reclamo</span>
        <p class="text-[15px] text-gray-500 font-[500]">Disconformidad relacionada con los productos o servicios.</p>
      </div>
      <div class="flex gap-2 py-1">
        <span class="text-yellow-600 font-[600] text-[17px]">Quejas</span>
        <p class="text-[15px] text-gray-500 font-[500]">Disconformidad no relacionada con los productos o servicios o malestar o descontento con la atención al público.</p>
      </div>
    </div>
    
    <form [formGroup]="reclamoForm">
      <mat-radio-group formControlName="tipoReclamo">
        <mat-radio-button class="example-margin mr-2" value="reclamo">
          <span class="about_text">Reclamo</span>
        </mat-radio-button>
        <mat-radio-button class="example-margin mr-2" value="queja">
          <span class="about_text">Queja</span>
        </mat-radio-button>
      </mat-radio-group>
    </form>
  </div>

  <form [formGroup]="reclamoForm" (ngSubmit)="onSubmit()">
    <!-- Nombres completos -->
    <div class="gap-4 gridContent">
      <div class="flex flex-col gap-3">
        <label for="nombreCompleto" class="text-[16px] font-[500] pl-2 text-[#235799]">Nombres Completos</label>
        <mat-form-field>
          <input matInput formControlName="nombreCompleto" required matTooltip="Ingresar Nombre" tooltipPosition="above" />
          <small class="error" *ngIf="reclamoForm.get('nombreCompleto')?.hasError('required') && reclamoForm.get('nombreCompleto')?.touched">
            Este campo es requerido
          </small>
        </mat-form-field>
      </div>

      <!-- Apellidos completos -->
      <div class="flex flex-col gap-3">
        <label for="apellidoPaterno" class="text-[16px] font-[500] pl-2 text-[#235799]">Apellido Paterno</label>
        <mat-form-field>
          <input matInput formControlName="apellidoPaterno" required />
          <small class="error" *ngIf="reclamoForm.get('apellidoPaterno')?.hasError('required') && reclamoForm.get('apellidoPaterno')?.touched">
            Este campo es requerido
          </small>
        </mat-form-field>
      </div>

      <div class="flex flex-col gap-3">
        <label for="apellidoMaterno" class="text-[16px] font-[500] pl-2 text-[#235799]">Apellido Materno</label>
        <mat-form-field>
          <input matInput formControlName="apellidoMaterno" required />
          <small class="error" *ngIf="reclamoForm.get('apellidoMaterno')?.hasError('required') && reclamoForm.get('apellidoMaterno')?.touched">
            Este campo es requerido
          </small>
        </mat-form-field>
      </div>

      <!-- Teléfono -->
      <div class="flex flex-col gap-3">
        <label for="telefono" class="text-[16px] font-[500] pl-2 text-[#235799]">Teléfono</label>
        <mat-form-field>
          <input matInput formControlName="telefono" required />
          <small class="error" *ngIf="reclamoForm.get('telefono')?.hasError('required') && reclamoForm.get('telefono')?.touched">
            Este campo es requerido
          </small>
          <small class="error" *ngIf="reclamoForm.get('telefono')?.hasError('pattern') && reclamoForm.get('telefono')?.touched">
            Solo se permiten números en este campo
          </small>
        </mat-form-field>
      </div>

      <!-- Correo -->
      <div class="flex flex-col gap-3">
        <label for="correo" class="text-[16px] font-[500] pl-2 text-[#235799]">Correo</label>
        <mat-form-field>
          <input matInput formControlName="correo" required />
          <small class="error" *ngIf="reclamoForm.get('correo')?.hasError('required') && reclamoForm.get('correo')?.touched">
            Este campo es requerido
          </small>
          <small class="error" *ngIf="reclamoForm.get('correo')?.hasError('email') && reclamoForm.get('correo')?.touched">
            Introduce un correo válido
          </small>
        </mat-form-field>
      </div>

      <!-- Documento -->
      <div class="flex flex-col gap-3">
        <label for="documento" class="text-[16px] font-[500] pl-2 text-[#235799]">Documento</label>
        <mat-form-field appearance="fill">
          <input matInput formControlName="documento" placeholder="DNI" />
          <small class="error" *ngIf="reclamoForm.get('documento')?.hasError('required') && reclamoForm.get('documento')?.touched">
            Este campo es requerido
          </small>
          <small class="error" *ngIf="reclamoForm.get('documento')?.hasError('pattern') && reclamoForm.get('documento')?.touched">
            El documento debe contener solo números.
          </small>
        </mat-form-field>
      </div>

      <!-- Dirección -->
      <div class="flex flex-col gap-3">
        <label for="direccion" class="text-[16px] font-[500] pl-2 text-[#235799]">Dirección</label>
        <mat-form-field appearance="fill">
          <input matInput formControlName="direccion" required />
          <small class="error" *ngIf="reclamoForm.get('direccion')?.hasError('required') && reclamoForm.get('direccion')?.touched">
            Este campo es requerido
          </small>
        </mat-form-field>
      </div>

      <!-- Departamento -->
      <div class="flex flex-col gap-3">
        <label for="departamento" class="text-[16px] font-[500] pl-2 text-[#235799]">Departamento</label>
        <mat-form-field appearance="fill">
          <mat-select formControlName="departamento" required>
            <mat-option *ngFor="let dep of nombresDepartamentos" [value]="dep">
              {{ dep }}
            </mat-option>
          </mat-select>
          <small class="error" *ngIf="reclamoForm.get('departamento')?.hasError('required') && reclamoForm.get('departamento')?.touched">
            Selecciona un departamento
          </small>
        </mat-form-field>
      </div>

      <!-- Provincia -->
      <div class="flex flex-col gap-3">
        <label for="provincia" class="text-[16px] font-[500] pl-2 text-[#235799]">Provincia</label>
        <mat-form-field appearance="fill">
          <mat-select formControlName="provincia" required>
            <mat-option *ngFor="let prov of provincias" [value]="prov">
              {{ prov }}
            </mat-option>
          </mat-select>
          <small class="error" *ngIf="reclamoForm.get('provincia')?.hasError('required') && reclamoForm.get('provincia')?.touched">
            Selecciona una provincia
          </small>
        </mat-form-field>
      </div>

      <!-- Distrito -->
      <div class="flex flex-col gap-3">
        <label for="distrito" class="text-[16px] font-[500] pl-2 text-[#235799]">Distrito</label>
        <mat-form-field appearance="fill">
          <mat-select formControlName="distrito" required>
            <mat-option *ngFor="let dist of distritos" [value]="dist">
              {{ dist }}
            </mat-option>
          </mat-select>
          <small class="error" *ngIf="reclamoForm.get('distrito')?.hasError('required') && reclamoForm.get('distrito')?.touched">
            Selecciona un distrito
          </small>
        </mat-form-field>
      </div>

      <!-- Proyectos -->
      <div class="flex flex-col gap-3">
        <label for="proyectoList" class="text-[16px] font-[500] pl-2 text-[#235799]">Proyectos</label>
        <mat-form-field appearance="fill">
          <mat-select formControlName="proyectoList" required>
            <mat-option *ngFor="let proy of proyectos" [value]="proy">
              {{ proy }}
            </mat-option>
          </mat-select>
          <small class="error" *ngIf="reclamoForm.get('proyectoList')?.hasError('required') && reclamoForm.get('proyectoList')?.touched">
            Selecciona un proyecto
          </small>
        </mat-form-field>
      </div>

      <!-- Detalle del Reclamo -->
      <div class="flex flex-col gap-3" id="tarea">
        <label for="detalleReclamo" class="text-[16px] font-[500] pl-2 text-[#235799]">Detalle del Reclamo</label>
        <mat-form-field appearance="fill">
          <textarea matInput formControlName="detalleReclamo" rows="5" placeholder="Escriba los detalles de su reclamo"></textarea>
          <small class="error" *ngIf="reclamoForm.get('detalleReclamo')?.hasError('required') && reclamoForm.get('detalleReclamo')?.touched">
            Este campo es requerido
          </small>
        </mat-form-field>
      </div>

      <div class="text-center divbtn">
        <p class="text-left">
          **Al brindar su correo electrónico, usted autoriza que cualquier comunicación referente al reclamo se realice a través del mismo medio.<br>
          ***El tratamiento de sus datos personales en este portal tiene por finalidad gestionar de manera correcta los datos consignados en el reclamo o queja, conforme a las disposiciones legales aplicables.
        </p>
        <button mat-raised-button type="submit" class="text-[#fff] pt-2" [disabled]="!reclamoForm.valid">Enviar</button>
      </div>
    </div>
  </form>
</div>
