<section class=" pt-[90px] pb-7">
    <div class="content_contact">
            <form [formGroup]="formContact" class="Formulario" for="" (ngSubmit)="enviar()">
            <label class="titulo_formulario">Contáctanos</label>
            <div class="conten_input">
                <input type="text"  placeholder="Nombre Completo" formControlName="nombreCompleto"/>
            </div>
            <div class="conten_input" >
                <input type="number" placeholder="Numero" formControlName="numero"/>
            </div>
            <div class="conten_input">
                <input type="email" placeholder="Correo" formControlName="correo" />
            </div>
            <div class="conten_input" >
                <input type="text"  placeholder="Proyecto de interes" formControlName="proyecto" />
            </div>
            <div>
                <textarea placeholder="Mensaje"></textarea>
            </div>
            <div class="content_permisos">
                <div class="permiso">
                    <input type="checkbox">
                    <span>He leído y acepto el Tratamiento de mis datos personales.</span>
                </div>
                <div class="permiso">
                    <input type="checkbox">
                    <span>He leído y acepto la Política para envío de comunicaciones comerciales.</span>
                </div>
            </div>
                <button class="btn_send_form_contact" type="submit" >Enviar</button>
        </form>
        <div class="imgBx_Modelo">
            <img src="../../../../public/assets/BANNER 2.png" alt="modelo" />
        </div>
    </div>
</section>