<section  [ngStyle]="{'background': 'linear-gradient(to bottom left, ' + color + ', #3399cc)'}">
    <div class="content_titulo">
        <h3  [ngStyle]="{'font-family': tipo_grafia}">Facilidades De Pago</h3>
    </div>
    <div class="content_facilidad_pago">
       <div class="imgBx_promo">
           <img src={{imgPromo}} alt="promo"/>
       </div>
       <div class="imgBx_modelo">
            <img src={{imgModelo}} loading="lazy" alt="modelo"/>
       </div>
    </div>
        <img src={{imgPrecio}} alt="modelo" class="modelo"/>
</section>