h3{
    color: #fff;
    font-size: 50px;
    display: block;
    background-color: #245CB5;
   padding: 10px 0;
   text-align: center;
   margin: 0;
}

.imgBx_info_precios{
    width: 100%;
}

.imgBx_modelo{
    width: 700px;
}

.imgBx_modelo img{
    position: relative;
    transform: scaleX(-1) translateY(50px);
    z-index: 1;
}

.imgBx_promo{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

.content_facilidad_pago{
    display: flex;
    justify-content: center;
}
.modelo{
    position: relative;
    width: 100%;
    top: 5px;
    z-index: 10;
}