section{
 /* Green to blue gradient */
    position: relative;
    overflow: hidden;
}
section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-radial-gradient(circle at 0 0, transparent, transparent 10px, rgba(255, 255, 255, 0.1) 10px, rgba(255, 255, 255, 0.1) 20px); /* Curved lines */
    opacity: 0.2; /* Subtle effect */
}
h3{
    color: #fff;
    font-size: 50px;
    display: block;
    background-color: #245CB5;
   padding: 10px 0;
   text-align: center;
   margin: 0;
}

.imgBx_info_precios{
    width: 100%;
}

.imgBx_modelo{
    width: 700px;
}

.imgBx_modelo img{
    position: relative;
    transform: scaleX(-1) translateY(50px);
    z-index: 1;
}

.imgBx_promo{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
}

.content_facilidad_pago{
    display: flex;
    justify-content: center;
}
.modelo{
    position: relative;
    width: 100%;
    top: 5px;
    z-index: 10;
}