@if (tituloInput === 'Prados') {
    <div class="content_info_proyecto">
    <div class="content_img_info_proyecto">
           <img loading="lazy" src='../../../../public/assets/V4 copia.png' alt="" />
    </div>
    <div class="content_info_proyecto_detalles">
       <div class="content_info_proyecto_mas_detalles agua" >
           <img loading="lazy" src="../../../../public/assets/AGUA-POTABLE.png"/>
               <div class="modal_detalles">
                  <img src='../../../../public/assets/AGUA-POTABLE-modal.png' alt="agua potable">
              </div>
       </div>
       <div class="content_info_proyecto_mas_detalles energia">
           <img loading="lazy" src="../../../../public/assets/ENERGÍA-ELÉCTRICA.png"/>
           <div class="modal_detalles">
               <img src='../../../../public/assets/ENERGÍA-ELÉCTRICA-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles desague">
           <img loading="lazy" src="../../../../public/assets/DESAGÜE.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/DESAGÛE-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles cerco">
           <img loading="lazy" src="../../../../public/assets/CERCO-PERIMÉTRICO.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/CERCO-PERIMÉTRICO-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles pistas">
           <img loading="lazy" src="../../../../public/assets/PISTAS-Y-VEREDAS.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/PISTAS-Y-VEREDAS-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles portico">
           <img loading="lazy" src="../../../../public/assets/PÓRTICO-DE-INGRESO.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/PORTICO-DE-INGRESO-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="grande">
           <div class="content_info_proyecto_mas_detalles parques">
               <img loading="lazy"
               src="../../../../public/assets/PARQUES-BIOSALUDABLES.png"/>
               <div class="modal_detalles">
                   <img src='../../../../public/assets/PARQUE-RECREATIVOS-modal.png' alt="agua potable">
               </div>
           </div>
           <div class="content_info_proyecto_mas_detalles  parrilas">
               <img loading="lazy" src="../../../../public/assets/ZONA-DE-PARRILLAS.png"  
               />
               <div class="modal_detalles">
                   <img src='../../../../public/assets/HIDRANTE-modal.png' alt="agua potable">
               </div>
           </div>
       </div>
    </div>
</div>
}
@else if (tituloInput === 'Huertos') {
<div class="content_info_proyecto">
    <div class="content_img_info_proyecto">
           <img loading="lazy" src='../../../../public/assets/V4 copia.png' alt="" />
    </div>
    <div class="content_info_proyecto_detalles">
       <div class="content_info_proyecto_mas_detalles agua" >
           <img loading="lazy" src="../../../../public/assets/AGUA-POTABLE.png"/>
               <div class="modal_detalles">
                  <img src='../../../../public/assets/AGUA-POTABLE-modal.png' alt="agua potable">
              </div>
       </div>
       <div class="content_info_proyecto_mas_detalles energia">
           <img loading="lazy" src="../../../../public/assets/ENERGÍA-ELÉCTRICA.png"/>
           <div class="modal_detalles">
               <img src='../../../../public/assets/ENERGÍA-ELÉCTRICA-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles desague">
           <img loading="lazy" src="../../../../public/assets/DESAGÜE.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/DESAGÛE-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles cerco">
           <img loading="lazy" src="../../../../public/assets/CERCO-PERIMÉTRICO.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/CERCO-PERIMÉTRICO-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles pistas">
           <img loading="lazy" src="../../../../public/assets/PISTAS-Y-VEREDAS.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/PISTAS-Y-VEREDAS-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles portico">
           <img loading="lazy" src="../../../../public/assets/PÓRTICO-DE-INGRESO.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/PORTICO-DE-INGRESO-modal.png' alt="agua potable">
           </div>
       </div>

        <div class="grande">
            <div class="content_info_proyecto_mas_detalles parques">
                <img loading="lazy"
                src="../../../../public/assets/PARQUES-BIOSALUDABLES.png"/>
                <div class="modal_detalles">
                    <img src='../../../../public/assets/PARQUE-RECREATIVOS-modal.png' alt="agua potable">
                </div>
            </div>
            <div class="content_info_proyecto_mas_detalles  parrilas">
                <img loading="lazy" src="../../../../public/assets/ZONA-DE-PARRILLAS.png"  
                />
                <div class="modal_detalles">
                    <img src='../../../../public/assets/HIDRANTE-modal.png' alt="agua potable">
                </div>
            </div>
        </div>
           
    </div>
</div>
}
@else {
<div class="content_info_proyecto">
    <div class="content_img_info_proyecto">
           <img loading="lazy" src='../../../../public/assets/V4 copia.png' alt="" />
    </div>
    <div class="content_info_proyecto_detalles">
       <div class="content_info_proyecto_mas_detalles agua" >
           <img loading="lazy" src="../../../../public/assets/AGUA-POTABLE.png"/>
               <div class="modal_detalles">
                  <img src='../../../../public/assets/AGUA-POTABLE-modal.png' alt="agua potable">
              </div>
       </div>
       <div class="content_info_proyecto_mas_detalles energia">
           <img loading="lazy" src="../../../../public/assets/ENERGÍA-ELÉCTRICA.png"/>
           <div class="modal_detalles">
               <img src='../../../../public/assets/ENERGÍA-ELÉCTRICA-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles desague">
           <img loading="lazy" src="../../../../public/assets/DESAGÜE.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/DESAGÛE-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles cerco">
           <img loading="lazy" src="../../../../public/assets/CERCO-PERIMÉTRICO.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/CERCO-PERIMÉTRICO-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles pistas">
           <img loading="lazy" src="../../../../public/assets/PISTAS-Y-VEREDAS.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/PISTAS-Y-VEREDAS-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles portico">
           <img loading="lazy" src="../../../../public/assets/PÓRTICO-DE-INGRESO.png" />
           <div class="modal_detalles">
               <img src='../../../../public/assets/PORTICO-DE-INGRESO-modal.png' alt="agua potable">
           </div>
       </div>
       <div class="content_info_proyecto_mas_detalles  cancha">
        <img loading="lazy" src="../../../../public/assets/CANCHA-DE-FÚTBOL.png"  
        />
        <div class="modal_detalles">
            <img src='../../../../public/assets/CHANCHA-DE-FÚTBOL-modal.png' alt="agua potable">
        </div>
    </div>
           <div class="content_info_proyecto_mas_detalles parques">
               <img loading="lazy"
               src="../../../../public/assets/PARQUES-BIOSALUDABLES.png"/>
               <div class="modal_detalles">
                   <img src='../../../../public/assets/PARQUE-RECREATIVOS-modal.png' alt="agua potable">
               </div>
           </div>
           <div class="content_info_proyecto_mas_detalles  parrilas">
               <img loading="lazy" src="../../../../public/assets/ZONA-DE-PARRILLAS.png"  
               />
               <div class="modal_detalles">
                   <img src='../../../../public/assets/ZONA-DE-PARRILLA-modal.png' alt="agua potable">
               </div>
           </div>

           <div class="grande">
            <div class="content_info_proyecto_mas_detalles parques">
                <img loading="lazy"
                src="../../../../public/assets/VÓLEY-PLAYA.png"/>
                <div class="modal_detalles">
                    <img src='../../../../public/assets/VÓLEY-PLAYA-modal.png' alt="agua potable">
                </div>
            </div>
            <div class="content_info_proyecto_mas_detalles  parrilas">
                <img loading="lazy" src="../../../../public/assets/HIDRANTES.png"  
                />
                <div class="modal_detalles">
                    <img src='../../../../public/assets/HIDRANTE-modal.png' alt="agua potable">
                </div>
            </div>
           </div>
           
    </div>
</div>
}


