@if (tituloInput === 'Huertos') {
    @defer (on viewport) {
        <div class="content_info_proyecto">
            <div class="content_img_info_proyecto">
                   <img loading="lazy" src='../../../../public/assets/imagenes-huertos/modelo/V4 copia.webp'loading="lazy"  alt="" />
            </div>
            <div class="content_info_proyecto_detalles">
               <div class="content_info_proyecto_mas_detalles agua" >
                   <img loading="lazy" src="../../../../public/assets/imagenes-huertos/iconos/agua-potable.webp"/>
                       <div class="modal_detalles">
                          <img src='../../../../public/assets/imagenes-huertos/fichas-tecnicas/ft-agua-potable-robles.webp'loading="lazy"  alt="agua potable">
                      </div>
               </div>
               <div class="content_info_proyecto_mas_detalles energia">
                   <img loading="lazy" src="../../../../public/assets/imagenes-huertos/iconos/energia-electrica.webp"/>
                   <div class="modal_detalles">
                       <img src='../../../../public/assets/imagenes-huertos/fichas-tecnicas/ft-energia-electrica-huertos.webp' loading="lazy" alt="agua potable">
                   </div>
               </div>
               <div class="content_info_proyecto_mas_detalles desague">
                   <img loading="lazy" src="../../../../public/assets/imagenes-huertos/iconos/desague.webp"/>
                   <div class="modal_detalles">
                       <img src='../../../../public/assets/imagenes-huertos/fichas-tecnicas/ft-desague-huertos.webp' loading="lazy" alt="agua potable">
                   </div>
               </div>
               <div class="content_info_proyecto_mas_detalles cerco">
                   <img loading="lazy" src="../../../../public/assets/imagenes-huertos/iconos/cerco-perimetrico.webp" loading="lazy" />
                   <div class="modal_detalles">
                       <img src='../../../../public/assets/imagenes-huertos/fichas-tecnicas/ft-cerco-perimetrico-huertos.webp' loading="lazy" alt="agua potable">
                   </div>
               </div>
               <div class="content_info_proyecto_mas_detalles pistas">
                   <img loading="lazy" src="../../../../public/assets/imagenes-huertos/iconos/pistos-veredas.webp" />
                   <div class="modal_detalles">
                       <img src='../../../../public/assets/imagenes-huertos/fichas-tecnicas/ft-pistas-veredas-huertos.webp' loading="lazy" alt="agua potable">
                   </div>
               </div>
               <div class="content_info_proyecto_mas_detalles portico">
                   <img loading="lazy" src="../../../../public/assets/imagenes-huertos/iconos/portico-ingreso.webp" loading="lazy" />
                   <div class="modal_detalles">
                       <img src='../../../../public/assets/imagenes-huertos/fichas-tecnicas/ft-portico-ingreso-huertos.webp' loading="lazy" alt="agua potable">
                   </div>
               </div>
        
                <div class="grande">
                    <div class="content_info_proyecto_mas_detalles parques">
                        <img loading="lazy"
                        src="../../../../public/assets/imagenes-huertos/iconos/parques-recreativos.webp" loading="lazy"/>
                        <div class="modal_detalles">
                            <img src='../../../../public/assets/imagenes-huertos/fichas-tecnicas/ft-parques-recreativos-huertos.webp' loading="lazy" alt="agua potable">
                        </div>
                    </div>
                    <div class="content_info_proyecto_mas_detalles  parrilas">
                        <img loading="lazy" src="../../../../public/assets/imagenes-huertos/iconos/hidrantes.webp"  loading="lazy"
                        />
                        <div class="modal_detalles">
                            <img src='../../../../public/assets/imagenes-huertos/fichas-tecnicas/ft-hidrantes-huertos.webp'  loading="lazy"alt="agua potable">
                        </div>
                    </div>
                </div>
                   
            </div>
        </div>
    }@placeholder {
        <div class="spinner">
            <mat-spinner></mat-spinner> 
          </div>
    }@loading {
        <div class="spinner">
            <mat-spinner></mat-spinner> 
          </div>
    }
    }
    @else {
    @defer (on viewport) {
        <div class="content_info_proyecto">
            <div class="content_img_info_proyecto">
                   <img loading="lazy" src='../../../../public/assets/imagenes-robles/modelo/MODELO-ROBLES-1.webp'loading="lazy"  alt="" />
            </div>
            <div class="content_info_proyecto_detalles">
               <div class="content_info_proyecto_mas_detalles agua" >
                   <img loading="lazy" src="../../../../public/assets/imagenes-robles/iconos/agua-potable.webp"/>
                       <div class="modal_detalles">
                          <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/agua-potable.webp' loading="lazy" alt="agua potable">
                      </div>
               </div>
               <div class="content_info_proyecto_mas_detalles energia">
                   <img loading="lazy" src="../../../../public/assets/imagenes-robles/iconos/energia-electrica.webp" loading="lazy" />
                   <div class="modal_detalles">
                       <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/energia-electrica.webp'  loading="lazy" alt="agua potable">
                   </div>
               </div>
               <div class="content_info_proyecto_mas_detalles desague">
                   <img loading="lazy" src="../../../../public/assets/imagenes-robles/iconos/desague.webp" loading="lazy" />
                   <div class="modal_detalles">
                       <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/desague.webp' loading="lazy" alt="agua potable">
                   </div>
               </div>
               <div class="content_info_proyecto_mas_detalles cerco">
                   <img loading="lazy" src="../../../../public/assets/imagenes-robles/iconos/cerco-perimetrico.webp" loading="lazy" />
                   <div class="modal_detalles">
                       <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/cerco-perimetrico.webp' loading="lazy" alt="agua potable">
                   </div>
               </div>
               <div class="content_info_proyecto_mas_detalles pistas">
                   <img loading="lazy" src="../../../../public/assets/imagenes-robles/iconos/pistas-veredas.webp" loading="lazy"/>
                   <div class="modal_detalles">
                       <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/pistas-y-veredas.webp'loading="lazy" alt="agua potable">
                   </div>
               </div>
               <div class="content_info_proyecto_mas_detalles portico">
                   <img loading="lazy" src="../../../../public/assets/imagenes-robles/iconos/portico-de-ingreso.webp" loading="lazy"/>
                   <div class="modal_detalles">
                       <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/portico-de-ingreso.webp'  loading="lazy" alt="agua potable">
                   </div>
               </div>
               <div class="content_info_proyecto_mas_detalles  cancha">
                <img loading="lazy" src="../../../../public/assets/imagenes-robles/iconos/cancha-de-futbol.webp"  loading="lazy"
                />
                <div class="modal_detalles">
                    <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/chancha-de-futbol.webp' loading="lazy" alt="agua potable">
                </div>
            </div>
                   <div class="content_info_proyecto_mas_detalles parques">
                       <img loading="lazy"
                       src="../../../../public/assets/imagenes-robles/iconos/parques-recreativos.webp"/>
                       <div class="modal_detalles">
                           <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/parque-recreativos.webp' loading="lazy" alt="agua potable">
                       </div>
                   </div>
                   <div class="content_info_proyecto_mas_detalles  parrilas">
                       <img loading="lazy" src="../../../../public/assets/imagenes-robles/iconos/zona-de-parrillas.webp"  
                       />
                       <div class="modal_detalles">
                           <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/zona-de-parrilla.webp' loading="lazy" alt="agua potable">
                       </div>
                   </div>
        
                   <div class="grande">
                    <div class="content_info_proyecto_mas_detalles parques">
                        <img loading="lazy"
                        src="../../../../public/assets/imagenes-robles/iconos/voley-playa.webp"/>
                        <div class="modal_detalles">
                            <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/voley-playa.webp' loading="lazy" alt="agua potable">
                        </div>
                    </div>
                    <div class="content_info_proyecto_mas_detalles  parrilas">
                        <img loading="lazy" src="../../../../public/assets/imagenes-robles/iconos/hidrantes.webp"  
                        />
                        <div class="modal_detalles">
                            <img src='../../../../public/assets/imagenes-robles/fichas-tecnicas/hidrante.webp' loading="lazy"alt="agua potable">
                        </div>
                    </div>
                   </div>
                   
            </div>
        </div>
    }@placeholder {
        <div class="spinner">
            <mat-spinner></mat-spinner> 
          </div>
    }
    }
    