<div class="container">
  <h1>Política de Privacidad</h1>
  <p>En VALCORP INMOBILIARIA (en adelante, "Valcorp"), valoramos y respetamos tu privacidad. Esta Política de Protección de Datos describe cómo recopilamos, usamos, compartimos y protegemos la información que proporcionas cuando utilizas nuestro sitio web <a href="http://www.grupovalcorp.pe" target="_blank">www.grupovalcorp.pe</a> (en adelante, el "Sitio Web") y nuestras redes sociales.</p>
  <p>La Política de Privacidad puede ser modificada o actualizada según los cambios en nuestras prácticas o para cumplir con nuevas regulaciones legales. Te recomendamos que revises esta página periódicamente para estar al tanto de cualquier actualización. El uso continuo del Sitio Web después de la publicación de cualquier cambio constituirá su aceptación de dichos cambios.</p>

  <h2>1. Información que Recopilamos</h2>
  <ul>
      <li><strong>Información Personal:</strong> Nombre, número de teléfono, dirección de correo electrónico, proyecto de interés y cualquier otra información que el usuario proporcione voluntariamente a través de formularios en el Sitio Web o mediante mensajes directos en nuestras redes sociales.</li>
      <li><strong>Información de Uso:</strong> Datos sobre tu uso del Sitio Web, como direcciones IP, tipo de navegador, páginas visitadas y la hora y fecha de la visita.</li>
      <li><strong>Información de Cookies:</strong> Utilizamos cookies y tecnologías similares para mejorar tu experiencia en nuestro Sitio Web y para analizar el uso del mismo.</li>
  </ul>

  <h2>2. Uso de la Información</h2>
  <ul>
      <li><strong>Para proporcionar y mejorar nuestros servicios:</strong> Incluye responder a consultas, procesar solicitudes, mejorar el contenido y funcionalidad del Sitio Web.</li>
      <li><strong>Para enviar comunicaciones:</strong> Podemos enviarte información sobre nuestros productos, servicios y ofertas, siempre que hayas dado tu consentimiento para recibir tales comunicaciones.</li>
      <li><strong>Para realizar análisis internos:</strong> Evaluar la efectividad del Sitio Web y realizar estudios de mercado para mejorar nuestros servicios.</li>
  </ul>

  <h2>3. Distribución de Información</h2>
  <p>No compartimos tu información personal con terceros, excepto en las siguientes circunstancias:</p>
  <ul>
      <li><strong>Proveedores de servicios:</strong> Podemos compartir tu información con proveedores de servicios que nos ayudan a operar nuestro Sitio Web o a cumplir con las solicitudes de los usuarios, siempre que dichos proveedores estén obligados a proteger la información y utilizarla solo para los fines para los que se les ha proporcionado.</li>
      <li><strong>Requerimientos legales:</strong> Si es requerido por ley, para cumplir con un proceso legal, o para proteger los derechos, propiedad o seguridad de Valcorp o de terceros.</li>
  </ul>

  <h2>4. Protección de la Información</h2>
  <p>Implementamos medidas de seguridad razonables para proteger tu información personal contra acceso no autorizado, alteración, divulgación o destrucción. Sin embargo, ninguna medida de seguridad es completamente infalible, por lo que no podemos garantizar una protección absoluta.</p>

  <h2>5. Derechos del Usuario</h2>
  <p>Tienes derecho a acceder, corregir o eliminar tu información personal. Puedes hacer esto contactándonos a través de <a href="mailto:ventas&#64;grupovalcorp.pe">ventas&#64;grupovalcorp.pe</a>. También puedes optar por no recibir nuestras comunicaciones en cualquier momento contactándonos a través de <a href="mailto:ventas&#64;grupovalcorp.pe">ventas&#64;grupovalcorp.pe</a>.</p>

  <h2>6. Contacto</h2>
  <p>Si tienes preguntas o inquietudes sobre esta Política de Privacidad, por favor contáctanos a través de:</p>
  <ul>
      <li>Correo electrónico: <a href="mailto:ventas&#64;grupovalcorp.pe">ventas&#64;grupovalcorp.pe</a></li>
      <li>Dirección: Jr. Manuel Ruiz 239 - Chimbote</li>
  </ul>
</div>