
<h2 class="titulo_proyectos">Nuestros Proyectos</h2>

<section class="container_proyectos ">

      @for (proyecto of ProyectosImg; track proyecto) {
          @defer (on viewport) {
            <app-proyecto [colorPrecio]="proyecto.colorPrecio" 
            [colorIcono]="proyecto.colorIcono" 
            [urlImg]="proyecto.urlImg" 
            [titulo]="proyecto.titulo" 
            [marcaAguaLogoProyecto]="proyecto.marcaAguaLogoProyecto"
            [precioDesde]="proyecto.precioDesde"
            [lotesDesde]="proyecto.lotesDesde"
            [cuotasDesde]="proyecto.cuotasDesde"
            [routerLink]="proyecto.ruta"
            ></app-proyecto>
        
          }@placeholder {
             <p>componentes</p>
          }@loading {
             <p>cargando...</p>
          }
    }
   
</section>