.containr_proyecto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
}


.content_img_proyecto{
    width: 900px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    border: 15px solid #fff;
}
.content_img_proyecto{
    position: relative;
    overflow: hidden;

}
.precio_span{
    position: absolute;
    top: 8%;
    left: 0;
    font-size: 25px;
    font-weight: 600;
    padding: 5px 15px;
    letter-spacing: .5px;
    background-color: #91BF24;
    color: #fff;
}

.titulo_proyecto_detalle{
    margin: 0;

}

.content_proyecto_detalle{
    width: 70%;
    border-radius: 0 0 45px 45px;
    background-color: #fff;
    display: flex;
} 
.titulo_proyecto_detalle{
    color: #2457A1;
    font-size: 30px;
    font-weight: 900;
    line-height: 25px;
}

.wrapper_datalles{
    flex: 1;
    padding: 10px 20px 15px 45px;
    line-height: 21px;
}


.wrapper_datalles span {
    font-size: 15px;
    color: #111;
}
.content_detalles_urb{
    padding-top: 5px;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
}
.content_detalles_urb div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

span{
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 0.5px;
}

p{
    margin: 0;
}

.content_detalles_urb p {
    color: #5e5e5e;
    font-size: 15px;
}

.precio_coutas{
    font-size: 45px;
    font-weight: bolder;
    color: #fff;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;

}
.content_couta_precio{
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content_couta_precio::after{
    content: "";
    position: absolute;
    left: 0;
    height: 45px;
    border: 2px solid #2c2c2c;
}
    
    
.logo_proyecto_marca{
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 80px;
    padding: 15px;
    letter-spacing: .5px;
    background-color: #ffffff;
    border-radius: 0 0 0 45px;
    background-image: url('../../../../public/assets/PRADOS-NUEVO.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}