.containr_proyecto{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px 3px #3b3b3b8a
}


.content_img_proyecto{
    height: 62%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    
}



.content_img_proyecto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
}
.content_img_proyecto img:hover{
  transform: scale(1.1);
}

.precio_span{
    position: absolute;
    top: 8%;
    left: 0;
    font-size: 25px;
    font-weight: 600;
    padding: 5px 15px;
    letter-spacing: .5px;
    background-color: #91BF24;
    color: #fff;
}

.titulo_proyecto_detalle{
    margin: 0;
    width: 100%;

}

.content_proyecto_detalle{
    background-color: #fff;
    display: flex;
    height: 38%;
    border-radius: 0;

} 
.titulo_proyecto_detalle{
    color: #2457A1;
    font-size: 30px;
    font-weight: 900;
    line-height: 25px;
    padding-top: 15px;
}

.wrapper_datalles{
    flex: 2;
    padding: 10px 20px 15px 45px;
    line-height: 21px;
}


.wrapper_datalles span {
    font-size: 15px;
    color: #111;
}
.content_detalles_urb{
    padding-top: 5px;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
}
.content_detalles_urb div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.content_img_proyecto:hover img{
    transform: scale(1.1);
  }

span{
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 0.5px;
}

p{
    margin: 0;
}

.content_detalles_urb p {
    color: #5e5e5e;
    font-size: 15px;
}

.precio_coutas{
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    display: inline-block;
    padding:  20px 10px;
    border-radius: 15px;

}
.content_couta_precio{
    position: relative;
    flex: 1;
    gap: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right:  8px;
    padding-left: 12px;
}

.content_couta_precio::after{
    content: "";
    position: absolute;
    left: 0;
    height: 45px;
    border: 2px solid #2c2c2c;
}
    
    
.logo_proyecto_marca{
    position: absolute;
    top: 200px;
    right: 0;
    border-radius: 10px 0 0 10px;
    width: 150px;
    height: 80px;
    letter-spacing: .5px;
    background-color: #ffffffd3;
    filter: blur(10%);
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo_proyecto_marca img{
    width: 90%;
    height: 80%;
}

@media screen and (max-width:1180px) {
    .proximamente{
        padding: 10px !important;
    }
}

@media screen and (max-width: 900px) {
 
  .titulo_proximamente{
    padding: 0 !important;
  }



    span[_ngcontent-ng-c1617021110]{
        font-size: 11px;
    }

    .content_proyecto_detalle{
        padding:  0 10px;
        padding-bottom: 20px;
        justify-content: center;
    }

    .content_couta_precio::after{
        height: 100%;
        top: 35%;
        opacity: 1;
        border: 1px solid #222222;
        
    }
    .wrapper_datalles {
        flex: 2;
        padding: 5px 15px 15px 30px;
        line-height: 21px;
    }
    .precio_coutas[_ngcontent-ng-c1617021110]{
        font-size: 12px;
        padding: 10px 8px;
    }
    .content_couta_precio[_ngcontent-ng-c1617021110]{
        padding: 0;
    }
    span[_ngcontent-ng-c3058896264]{
        font-size: 0.5rem;
    }
}

@media screen and (max-width: 710px) {


}


@media screen and (max-width: 690px) {
  
    .content_proyecto_detalle{
        flex-direction: column;
    }
  
    .wrapper_datalles{
        padding: 0;
    }

 .precio_span{
    font-size: 1rem;
 }

      .titulo_proyecto_detalle{
        line-height: 20px;
        padding-top: 5px;
        font-size: 1.2rem;
        padding-left: 15px;
    }
    .content_couta_precio[_ngcontent-ng-c1862636283] {
     padding-left: 15px;
     padding-right: 8px;
     margin-right: 8px;
    }
    fa-icon{
        color: #91BF24;
    }
  
    span{
        font-size: 0.7rem;
    }

    .wrapper_datalles p{
        line-height: 20px;
        text-wrap: wrap;
    }

    .content_couta_precio
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: unset;
        top: -7.5px;
    }
    .content_couta_precio{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
        top: 5px;
    }

    .logo_proyecto_marca{
        width: 80px;
    height: 50px;
    }
    .content_couta_precio[_ngcontent-ng-c3768530747]{
        padding: 0;
    }


    .content_detalles_urb{
        gap: 0;
        line-height: 13px;
    }
    .wrapper_datalles{
        padding: 5px 0 8px 15px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }
    .precio_coutas{
        padding: 15px 5px;
    }
    .content_detalles_urb {

         gap: 2px;
        }
    
}
@media screen and (max-width:460px) {
    .proximamente[_ngcontent-ng-c2844566257] {
        padding: 10px !important;
        width: 60% !important;
    }
    .wrapper_datalles.proximamente{
        width: 100% !important;
    }
   .aea{
    width: 97%;
   }
    .col{
        gap: 5px;
        padding-top: 10px;
        
    }
    .precio_coutas{
        font-size: 1rem;
        padding: 8px 18px;
    }
    span{
        font-size: .6rem;
    }

    .content_proyecto_detalle[_ngcontent-ng-c2844566257]{
        padding-bottom: 5px;
    }

    .wrapper_datalles p{
        font-size: .7rem;
        line-height: 15px;
    }
    .content_couta_precio[_ngcontent-ng-c1862636283]::after {
        height: 100%;
        top: 35%;
        opacity: 1;
        border: 1px solid #292929;
    }
}
@media screen and (min-width:699px) {
    .titulo_proyecto_detalle{
        padding-left: 30px;
    }
}


@media screen and (min-width:900px) {
    .titulo_proyecto_detalle{
        padding-left: 45px;
        width: 100%;
        margin: 15px 0 0 0;
}
}
