<div class="containr_proyecto">
    <div class="content_img_proyecto">
        <img [src]="urlImg" alt="proyecto">
        <span class="precio_span" [ngStyle]="{'background-color': colorIcono}">Desde: {{ precioInicial }}</span>
        <div class="logo_proyecto_marca" [ngStyle]="{'background-image': 'url(' + marcaAguaLogoProyecto + ')'}"></div>
    </div> 
    <div class="content_proyecto_detalle">
        <div class="wrapper_datalles">
            <h3 class="titulo_proyecto_detalle">{{ titulo }}</h3>
            <span>Chimbote</span>
            <div class="content_detalles_urb">
                <div>
                    <fa-icon [icon]="casa" [ngStyle]="{'color': colorIcono}"></fa-icon>
                    <p>Lotes desde: {{ tamanioLote }}</p>
                </div>
                <div>
                    <fa-icon [icon]="casa" [ngStyle]="{'color': colorIcono}"></fa-icon>
                    <p>{{ plazo }}</p>
                </div>
            </div>
        </div>
        <div class="content_couta_precio">
            <span>Cuotas desde :</span>
            <p class="precio_coutas" [ngStyle]="{'background-color': colorPrecio}">
                {{ precioCouta }}
                
            </p>
        </div>
    </div>
</div>
