<mat-toolbar class="container_nav"  [ngClass]="{ 'active': scrollY }">
     <div class="logo">
        <h1>{{scrollY}}</h1>
        <span>inmobiliaria</span>
     </div>
    <nav class="content_nav">
        @for (link of links; track link) {
             @if (link.url) { 
             <a
             [routerLink]="link.url"
             routerLinkActive="bg-gray-navbarHover"
             class="nav_link"
           >
             {{ link.title }}
           </a> }@else{
            <button  mat-button [matMenuTriggerFor]="menu" style="color: #FFF; font-size: 15px; font-weight: 600;">{{link.title}}</button>
            <mat-menu #menu="matMenu">
                  @for ( proyecto of proyectos; track proyecto) {
                    <a
                    mat-menu-item
                    [routerLink]="['/proyectos',proyecto.alt]"
                    routerLinkActive="bg-gray-navbarHover"
                    class="nav_link"
      
             > {{proyecto.titulo}}</a>
                  }
            </mat-menu>
          }
        }

    </nav>
    <div class="content_contact">
        <span class="numero_contact">916 792 621</span>
    </div>
  </mat-toolbar>