<mat-toolbar class="container_nav"  [ngClass]="{ 'active': scrollY }">
     <div class="logo">
        <img src="../../../../public/assets/LOGO.png" alt="logotipo valcorp" >
        <a href="#" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;"></a>
     </div>
    <nav class="content_nav" [ngClass]="{'active': isActive()} ">
        <div class="bg" [ngClass]="{'active': isActive()} ">
          @for (link of links; track link) {
            @if (link.url) { 
            <a
            [routerLink]="link.url"
            routerLinkActive="active_link"
            [routerLinkActiveOptions]="{ exact: true }" 
            class="nav_link"
            (click)="navLinkActive($event,link)"
          >
            {{ link.title }}
          </a> }@else{
            
            <button  mat-button [matMenuTriggerFor]="menu" class="nav_link mat"  (click)="toggleFAQ()">{{link.title}}<fa-icon [icon]="isActiveArrow ? up  : down " class="icon"></fa-icon>   </button>
           <mat-menu #menu="matMenu"  >
                 @for ( proyecto of proyectos; track proyecto) {
                   <a
                   mat-menu-item
                   [routerLink]="['/proyectos',proyecto.alt]"
                   routerLinkActive="active_proyectos"
                   
                  (click)="toggle()"
                   
            > {{proyecto.titulo}}</a>

                 }
           </mat-menu>
         }
       }
       <div class="content_contact menu">
        <span class="numero_contact">916 792 621</span>
    </div>
        </div>
        <div class="content_contact">
          <span class="numero_contact">916 792 621</span>
      </div>
    </nav>
    <div class="content_menu_bar" >
      <div class="menu-burger" id="menuBurger" [ngClass]="{'active': isActive()} " (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </mat-toolbar>