section{
    padding: 5rem 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom left, #2595ae, #1e40af); /* Degradado de verde a azul */
    position: relative;
    overflow: hidden;
    
}
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1) 10px,
      transparent 10px,
      transparent 20px
    ); /* Líneas verticales */
    opacity: 0.2; /* Efecto sutil */
}

.imgBx_modelo{
    margin-top:35px ;
    left: 80px;
    z-index: 100;
    height: 100%;
    width: 600px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container_google_maps{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 50%;
    padding-right: 50px;

}

.content_mapa{
    position: relative;
    width: 100%;
    height: 600px;
    border-radius: 30px;
    overflow: hidden;
    border: 17px solid #fff;
}

.content_btn{
    text-align: center;
    margin-top: 20px;

}

button{
    padding: 25px 25px;
    border: none;
    border-radius: 
    30px;
    background-color: #FF0000;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}


@media screen and (max-width:1200px) {
    .content_titulo h3{
        font-size: 35px;
    
    }
    section{
        flex-direction: column;
    }
    .container_google_maps{
        width: 95%;
        padding-right: 0;
    }
    }
    
    @media screen and (max-width:950px) {
        .content_titulo h3{
            font-size: 25px;
        }

        .content_mapa{
            border:  8px solid #fff;
            width: 95%;
            height: 350px;
        }
      .content_btn button{
           font-size: 18px;
           padding: 10px 15px;
      }

      .container_google_maps{
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      }
      .imgBx_modelo{
        height: 400px;
        width: 400px;
      }
      
      .imgBx_modelo img{
        height: unset;
    }
    
    
    @media screen and (max-width:500px) {
        .content_titulo h3{
            font-size: 20px;
            width: 100%;
            text-align: center;
        }
       section{
        padding: 5rem 0rem;
       }
        .imgBx_modelo{
            width: fit-content;
            height: 50%;
        }
        .container_google_maps{
            padding-top: 30px;
            width: 100%;
            height: 50%;
        }
        .content_mapa{
            height: 400px;
        }
}