<section [ngStyle]="{'background-color': color()}">
    <div class="imgBx_modelo">
        <img src='../../../../public/assets/V1 copia.png' alt="modelo" />
    </div>
    <div class="container_google_maps">
       <div class="content_mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7880.789893536809!2d-78.5591638!3d-9.0276892!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ab8794ee83bffb%3A0x67f2f37a8c50bfb4!2sUrb.%20Los%20Huertos%20de%20San%20Jos%C3%A9!5e0!3m2!1ses!2spe!4v1720153911032!5m2!1ses!2spe" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
       </div>
       <div class="content_btn">
        <button> Ver Avances de Obras</button>
       </div>
    </div>
</section>  